body {
    font-family: 'Roboto', sans-serif;
    color: #1F2937;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header, .footer {
    background-color: #1F2937;
    color: #F9FAF8;
    margin: 0;
    padding: 8px 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
  margin: 0;
  width: 100px;
  height: auto;
}

ul {
    list-style: none;
    display: flex;
    gap: 16px;
    margin: 0 16px;
}

.top {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    padding: 60px;
    gap: 60px;
    flex-wrap; wrap;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.top-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
}

.left-title {
    font-size: 48px;
    margin-bottom: 8px;
}

.left-subtext {
    font-size: 18px;
    margin: 0;
}

.hire {
    margin-top: 10px;
    padding: 8px 16px;
    font-size: 16px;
    background-color: ##fff;
    border-radius: 16px;
}

.portrait {
    width: 200px;
    height: 200px;
}

.content-title {
  font-weight: bolder;
  font-size: 32px;
  margin: 24px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.content {
    padding: 8px 32px 32px;
    display: flex;
    justify-content: center;
    align-items: center
}

.contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.subtext {
  margin: 16px;
  font-size: 18px;
  align-self: center;
}

.member-pic {
  width: 200px;
  height: 200px;
}


.quote {
    background-color: #E5E7EB;
    padding: 48px;
    margin: 0;
    font-size: 20px;
    font-style: italic;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quotation {
  margin: 2px;
}

.author {
  font-style: normal;
  font-weight: bolder;
  font-size: 18px;
  margin-bottom: 0;
}

.cta {
  padding: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.action {
    color: #fff;
    font-size: 16px;
    background-color: #3882F6;
    padding: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;
    border-radius: 16px;
}

.action-one {
  font-size: 20px;
  font-weight: bolder;
}

.action-two {
  margin-top: -16px;
}

.join {
  font-size: 16px;
  padding: 8px 16px;
  border-radius: 16px;
}
